@import '_theme.scss';

.button {
  border-radius: 30px;
  color: $white;
  padding: 15px 4px;
  text-align: center;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__chevron-icon-container {
    position: absolute;
    z-index: 3;
  }

  &__chevron-icon {
    width: min-content;
    position: relative;
  }

  &__checkout {
    position: relative;
    touch-action: none;
  }

  &__resizer {
    min-width: 21px;
    width: 21px;
    height: 46px;
    overflow: hidden;
    opacity: 0;
    resize: horizontal;
    max-width: calc(100vw - 100px);
  }

  &__slider-icon {
    pointer-events: none;
    position: absolute;
    bottom: -10px;
    left: calc(100% - 20px);
    line-height: 0;
  }

  &--with-arrow {
    position: relative;
  }

  &--orange-purple {
    background: $orange-300;
    background: linear-gradient(90deg, $orange-100 0%, $purple-200 100%);
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
  }

  &--pink-purple {
    background: $pink-100;
    background: linear-gradient(
      90deg,
      $pink-100 0%,
      $purple-300 50%,
      $purple-500 100%
    );
  }

  &--inverted {
    background: transparent;
    border: 1px solid $purple-400;
    color: $purple-400;
  }

  &__text--large {
    font-size: 1.3em;
    font-weight: bold;
  }

  &__text--regular {
    font-weight: bold;
    padding: 16px;
  }

  &__icon {
    height: 16px;
    margin-right: 6px;
    margin-bottom: 2px;
  }
}
