@import '_theme.scss';

.modal {
  background-color: $navy-200;
  border-radius: 25px 25px 0 0;
  color: $purple-400;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  min-height: 350px;
  padding: 8px 16px;
  scroll-snap-align: start;
}

.modal__toggle {
  width: fit-content;
  align-self: center;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

.modal__header-text {
  font-size: 1em;
  color: $purple-400;
  font-weight: 400;
  text-transform: uppercase;
}

.modal__header-notification {
  display: flex;
  align-items: center;
  font-size: 12px;

  &-number {
    color: $tertiary-text;
    margin-right: 6px;
  }
}

.modal__contained-box {
  border: 1px solid $border;
  border-radius: 16px 16px 0 0;
  padding: 16px;
}

.modal__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
  font-size: 14px;

  p {
    margin: 0;
    line-height: 1.5;
  }

  &-icon {
    margin-top: 2px;
    margin-right: 8px;
  }

  &-details {
    flex: 1;
  }

  &-details-text {
    color: $secondary-text;
    font-size: 16px;

    &--bold {
      font-weight: bold;
    }
  }

  &-details-status {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--success {
      color: $green-100;
    }

    &--error {
      color: $red-100;
    }

    &--warning {
      color: $orange-300;
    }
  }
}
