//theme colors

$white: #fff;
$dark-blue: #092578;
$navy: #1c2443;
$orange-100: #f7a448;
$orange-200: #ffc53d;
$orange-300: #ff7e33;
$purple-100: #b7c9ff;
$purple-200: #6077fc;
$purple-300: #435ae6;
$purple-400: #6d6cb7;
$pink-100: #d74bb5;
$black: #000;
$grey-100: #8994b8;

$background: #2f3b6d;
$primary-text: $purple-100;
