//theme colors

$white: #fff;
$dark-blue: #2F3B6D;
$navy-100: #092578;
$navy-200: #1C2443;
$orange-100: #FF7C33;
$orange-200: #FFC93E;
$orange-300: #FFA63E;
$purple-100: #B7C9FF;
$purple-200: #5E77FF;
$purple-300: #9E23FF;
$purple-400: #6D6CB7;
$purple-500: #415BE5;
$pink-100: #DD50AD;
$black: #000;
$grey-100: #6E7CA8;
$green-100: #26D361;
$red-100: #FF6056;

$background: #2f3b6d;
$primary-text: $purple-100;
$secondary-text: #CFD2FF;
$tertiary-text: #D1D0FF;
$dashed-border: #7B82C3;
$border: #3F4DA4;
