@import '_main-info.scss';
@import '_ticket-box.scss';
@import '_theme.scss';
@import '_button.scss';
@import '_modal.scss';

body {
  background-color: $background;
  color: $primary-text;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  height: 100dvh;
  max-height: 100dvh;
  margin: 0;
  overflow: hidden;
}

.container {
  height: 100vh;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

.ticket-info {
  padding: 12px 16px;
  scroll-snap-align: start;
  margin-bottom: 24px;
}

.actions {
  display: flex;
  justify-content: space-evenly;

  button {
    width: 134px;
    height: 48px;
  }
}
